body {
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
  
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
 
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 98%);
  font-size: 28px;
}

button {
  padding: 8px 32px;
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: large;
  font-weight: 700;
  border: none;
  border-radius: 8px;
}

h1,
h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  font-weight: 700;

}

p {
  font-size: 24px;
}

header {
  background-color: hsl( 116, 38%, 21% );
  padding: 16px 64px 32px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  margin-bottom: 32px;
}

.menu {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.promo_container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.promo {
  flex-basis: 560px;
  flex-shrink: 3;
  color: #fafafa;
}

.promo_img_container {
  flex-basis: 300px;
  background-color: #EB7A4A;
  color: #fafafa;
  border-radius: 5px;
  height: 160px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.promo_img {
  flex-shrink: 3;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.gallery {
  padding: 32px 64px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.gallery_title {
  display: flex;
  justify-content: center;
}

.gallery_container {
  display: flex;
  justify-content: space-around;
  gap: 32px;
  flex-wrap: wrap;
}

.gallery_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
}

.img_placeholder {
  height: 150px;
  width: 150px;
  border: 3px solid #3882f6;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_description {
  font-size: 20px;

  align-self: flex-start;
}

.quote_section {
  background-color: #e5e7eb;
  padding: 32px 128px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quote_author {
  align-self: flex-end;
}

em {
  font-size: 36px;
  font-weight: 100;
  color: #1f2937;
}

.call_to_action_section {
  padding: 32px 128px;
  display: flex;
  justify-content: center;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: #3882f6;
  padding: 8px 32px;
  border-radius: 8px;
}

.banners_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  
}

.button {
  background-color: #3882f6;
  color: #fafafa;
  font-size: large;
  font-weight: 700;
  padding: 8px 32px;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.call_title,
.call {
  color: #e5e7eb;
}

footer {
  padding: 8px;
  background-color: hsl( 116, 38%, 21% );
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: baseline;
}