body {
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
  
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: hsl( 210, 1%, 98% )
}

button {
  padding: 8px 32px;
  background-color: hsl(221, 82%, 62%);
  border: none;
  border-radius: 8px;
}

header {
  background-color: hsl( 220, 39%, 21% );
  padding: 16px 64px 32px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  margin-bottom: 32px;
}

.menu {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.promo_container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  
}

.promo {
  width: 50%;
  color: hsl( 210, 1%, 98% );
}

.promo_img {
  width: 50%;
  min-width: 200px;
  min-height: 100px;
  background-color: hsl( 222, 10%, 49% );
  color: hsl( 210, 1%, 98% );
  display: flex;
  justify-content: center;
  align-items: center;
}
