body {
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
  
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: hsl( 210, 1%, 98% )
}

button {
  padding: 8px 32px;
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: 700;
  border: none;
  border-radius: 8px;
}

header {
  background-color: #212f4a;
  padding: 16px 64px 32px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  margin-bottom: 32px;
}

.menu {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.promo_container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.promo {
  flex-basis: 500px;
  flex-shrink: 3;
  color: #fafafa;
}

.promo_img {
  flex-basis: 300px;
  background-color: #EB7A4A;
  color: #fafafa;
  border-radius: 5px;
  padding: 8px;
  height: 160px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  padding: 32px 64px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.gallery_title {
  display: flex;
  justify-content: center;
}

.gallery_container {
  display: flex;
  justify-content: space-around;
  gap: 32px;
  flex-wrap: wrap;
}

.gallery_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
}

.img_placeholder {
  height: 150px;
  width: 150px;
  border: 3px solid #3882f6;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_description {
  text-align: center;
}

.quote_section {
  background-color: #e5e7eb;
  padding: 32px 128px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quote_author {
  align-self: flex-end;
}

em {
  font-size: 36px;
  font-weight: 100;
  color: #1f2937;
}

.call_to_action_section {
  padding: 32px 128px;
  display: flex;
  justify-content: center;
}

.banner {
  display: flex;
  align-items: center;
  gap: 64px;
  background-color: #3882f6;
  padding: 8px 32px;
  border-radius: 8px;
}

.button {
  border: 2px solid #e5e7eb;
  flex-shrink: 0;
}

.call_title,
.call {
  color: #e5e7eb;
}

footer {
  padding: 8px;
  background-color: #212f4a;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: baseline;
}